apiVersion: apps/v1
kind: Deployment
metadata:
  name: my-application
spec:
  selector:
    matchLabels:
      app: myapp
  replicas: 2
  template:
    metadata:
      labels:
        app: myapp
    spec:
      imagePullSecrets:
      - name: dockerhub-secret
      containers:
      - name: myapp
        image: anusrini/java-maven-app:1.1.13-5
        ports:
        - containerPort: 8080
